span {
  color: red;
}

.allSupplies {
  position: fixed;
}

.ContentTitle,
.ContentDate,
.ContentMemo {
  font-family: "Pretendard", sans-serif;
  font-weight: 200;
  font-size: 25px;
  margin-left: 332px;
}

.ContentTitle {
  margin-top: 87px;
}

.ContentDate,
.ContentMemo {
  margin-top: 27px;
}

.ContentTitleInput,
.ContentDateInput,
.ContentMemoInput {
  font-family: "Pretendard", sans-serif;
  font-weight: 200;
  font-size: 25px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 323px;
}

.ContentTitleInput {
  width: 753px;
  height: 60px;
}

.ContentDateInput {
  width: 755px;
  height: 63px;
}

.ContentMemoInput {
  width: 755px;
  height: 270px;
  padding-top: 10px;
}

.submit {
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 25px;
  width: 795px;
  height: 60px;
  border: none;
  margin-left: 323px;
  border-radius: 8px;
  background-color: #f2be5c;
  color: #ffffff;
  margin-top: 33px;
  cursor: pointer;
}
