.TodayDate {
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-left: 37px;
  margin-top: 38px;
}

.SuppliesField {
  position: fixed;
  margin-top: 113px;
  background-color: #f3f3f3;
  width: 748px;
  height: 642px;
  margin-left: 54px;
  border-radius: 8px;
}

.SuppliesTitle {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-left: 37px;
  margin-top: 7px;
  margin-bottom: 32px;
}

.SuppliesButton {
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background-color: #f2be5c;
  border: 0;
  border-radius: 8px;
  width: 120px;
  height: 50px;
  margin-left: 615px;
  position: fixed;
  bottom: 50px;
  left: 60px;
  cursor: pointer;
}

.weatherField {
  position: fixed;
  width: 390px;
  background-color: #f2be5c;
  margin-left: 1100px;
  margin-top: 142px;
}

.weatherLocation,
.weatherLocationNow {
  align-items: center;
  position: fixed;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.weatherLocationNow {
  margin-top: 16px;
}
